@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="h3 mb-3 font-weight-normal">Welcome to Cookie Authentication</h1>
	<p>Go to - <a asp-action="Login">Login</a></p>
	<p>Go to - <a asp-controller="Secured" asp-action="Index">Secured Page</a></p>
</div>
