@using CS_Ogretici.Models
@model List<Basliklar>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/CS_OgreticiLayout.cshtml";
}

<center><h2>  Hakkında  </h2></center>

<br />
<a>
    C# Öğretici Projesi, 2022-2023 Bahar Döneminde Van Yüzüncü Yıl Üniversitesi Bilgisayar Mühendisliği Bölümü Nesneye Yönelik Programlama II dersi ödevi olarak Sayın Dr. Ebubekir SEYYARER danışmanlığında Cemil BÜYÜKADALI ve Yusuf İsa UZKUL tarafından hazırlanmıştır.
</a>
